body {
  background-image: url("../beach.png");
  background-size: cover;  /* Scales the image to cover the entire page */
  background-position: center;  
  background-repeat: no-repeat;  /* Prevents tiling */
  height: 100vh; 
  margin: 0px; 
}




#intro {
  text-align: center;
  font-size: 30px;
  position: relative;
  margin-top: 1%;
  z-index: 2;
  color: white
}

#id {
  text-align: left;
  font-size: 15px;
}

#shellySeal {
  font-size: 20vw;  /* This keeps the seal proportional to the screen width...figured that the hard way */
  position: fixed;
  right: 0;
  top: 70%;  
  z-index: 0;
}


#textBubble {
  position: fixed;
  bottom: 50%;
  left: 57%;
  height: auto;
  width: 80%;
  max-width: 300px; 
  background-color: rgb(73, 4, 235);
  color: white;
  text-align: center;
  padding: 10px;
}

#like-btn {
  position: absolute; 
  bottom: 300px; /* px FROM the bottom*/
  right: 485px; /* px FROM the left */
  z-index: 1000;
}

#reset-btn {
  position: absolute; 
  bottom: 265px; 
  right: 468px; 
  z-index: 1000;
}
